{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">  
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="h-100 about-content">
    <div class="container-fluid justify-content-center" id="about">
        <h2 class="text-center">About Meow Sweden <i class="fas fa-paw"></i></h2>
        <div>
            <p>Meow Sweden is founded me, Mamoni (aka Mjau), and it grew out of my urge to make my creative ideas real, and of course my love for cats ( Hi, my name is Mamoni, and I'm a
                cat-oholic) and pretty things.
            </p>
            <h3>The very beginning</h3>
            <p>
                It all really started out with me and my cat-oholic behavior of collecting various types of cat ears and other "cat-ccessouries". 
                But since I always want to put my own touch on things I soon started to design and make my own cat ears. 
                To me there's always an occasion when you can put on a pair of cat ears to boost your outfit, let your inner cat loose and bring 
                some smiles to peoples faces.
            </p>
        </div>
        <div id="about-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active text-center" data-interval="2200">
                    <img src="{{ MEDIA_URL }}production-earmaking.jpg" class="d-block w-100 img-fluid" alt="production-image">
                </div>
                <div class="carousel-item text-center" data-interval="2400">
                    <img src="{{ MEDIA_URL }}catcon.jpeg" class="d-block w-100 img-fluid" alt="catcon">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
