{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="h-100 index-content">
    <div class="container-fluid justify-content-center" id="best-seller">
        <h2 class="text-center">Best Sellers <i class="fas fa-award"></i></h2>
        <div id="best-sellers-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="2600">
                    <img src="media/19e.jpg" class="d-block w-100" alt="cat-ears">
                </div>
                <div class="carousel-item" data-interval="2700">
                    <img src="media/QN-CL1.jpg" class="d-block w-100" alt="necklace">
                </div>
                <div class="carousel-item" data-interval="2500">
                    <img src="media/24a.jpg" class="d-block w-100" alt="cat-ears">
                </div>
            </div>
        </div>
        <h3 class="text-center">
            <a href="" class="best-seller-button btn btn-lg">View Our Best Sold Products!</a>
        </h3>
    </div>
    {% include 'includes/delivery-banner.html' %}
    <div class="div">
        <div class="card text-center">
            <div class="card-header">
            </div>
            <div class="card-body">
              <h5 class="card-title">Meow Sweden </h5>
              <p class="card-text">
                  offers handmade and unique cat ears and jewelry with that extra cattitude and bling.<br>
                  Check out our different designs on cat ears, or get yourself a beautiful necklace<br>
                  in ancient quipu code.
              </p>
              <a href="#" class="btn btn-primary">Read More about Quipu</a>
            </div>
            <div class="card-footer text-muted">
            </div>
          </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm col-md-6 col-lg-4">
                Product img 1
            </div>
            <div class="col-sm col-md-6 col-lg-4">
                Product img 2
            </div>
            <div class="col-sm col-md-6 col-lg-4">
                Product img 3
            </div>
        </div>
    </div>
</div>
{% endblock %}
