<div class="quipu-form-control" name="quipu_color_choise" id="id_quipu_color_choise">
    <p>Write the name/word you would like (max 12 letters), and pick what color and type of stone pearl you prefer</p>
    <div class="col-12 col-md-6">
        <select class="form-control rounded-0 w-50">
            <option value="pearl_white" selected>Pearl White</option>
            <option value="light_blue">Light Blue</option>
            <option value="light_blue">Iridecent Purple</option>
            <option value="light_blue">Turquoise</option>
            <option value="light_blue">Iridecent Dark Blue</option>
            <option value="light_blue">Scarabeus Green</option>
            <option value="light_blue">Mauve</option>
            <option value="light_blue">Burgundy</option>
            <option value="light_blue">Bordeaux</option>
        </select>
    </div>
    <div class="col-12 col-md-6">
        <select class="form-control rounded-0 w-50">
            <option value="labradorite" selected>Labradorite</option>
            <option value="amethyst">Amethyst</option>
            <option value="amethyst">Malachite</option>
            <option value="amethyst">Rose Quartz</option>
            <option value="amethyst">Citrine</option>
            <option value="amethyst">Garnet</option>
        </select>
    </div>
    <div class="col-12">
        <input type="text" name="quipu_custom_name" id="id_quipu_custom_name" >
    </div>
</div>