/*html {
    height: 100%;
}*/

#main-header {
    background: url('/media/backgroun-tiger-rose-dpink.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(40vh - 180px);
    color: #3b3b3b;
    font-family: 'Cormorant Garamond', serif;
}

#main-header a {
    color: #3b3b3b;
}

#main-nav,
#nav-header {
    background-color: #3b3b3b;
    color: #fde5dd;
}

#main-nav a {
    color: #fde5dd;
}

.dropdown-menu {
    background-color: #000;
}

.dropdown-menu a{
    color: #fde5dd;
}

.dropdown-menu a:hover {
    background-color: #3b3b3b;
}

#cat-logo{
    height: 60px;
    padding: 5px 0px 5px 0px;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

/*.index-content {
    padding-top: 150px;
}*/

#best-seller{
    background: url('/media/background-tiger-grey-black.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(70vh - 180px);
    color:#b4853e;
    font-family: 'Raleway', sans-serif;
}

.best-seller-button {
    background: black;
    color: #f8e085;
    min-width: 260px;
    font-family: 'Cormorant Garamond', serif;
}

.btn-black {
    background: black;
    color: white;
}

.best-seller-button:hover,
.best-seller-button:active,
.best-seller-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: #b4853e;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 180px;
    }

    .index-content {
        padding-top: 55px;
    }
}