/* Fonts and sizes */
h1 {
    font-family: 'Cormorant Garamond', serif;
}

h2,h3 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* Headers and navigation */
#main-header {
    background: url('/media/backgroun-tiger-rose-dpink.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(40vh - 180px);
    color: #3b3b3b;
    font-family: 'Cormorant Garamond', serif;
}

#main-header a {
    color: #3b3b3b;
}

#main-nav,
#nav-header {
    background-color: #3b3b3b;
    color: #fde5dd;
}

#main-nav a {
    color: #fde5dd;
}

.dropdown-menu {
    background-color: #000;
}

.dropdown-menu a{
    color: #fde5dd;
}

.dropdown-menu a:hover {
    background-color: #3b3b3b;
}

#cat-logo{
    height: 60px;
    padding: 5px 0px 5px 0px;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

/*.index-content {
    padding-top: 150px;
}*/

/* Best Seller section */
#best-seller{
    background: url('/media/background-tiger-grey-black.png') no-repeat center center fixed;
    background-size: cover;
    color:#b4853e;
    font-family: 'Raleway', sans-serif;
}

#best-sellers-slider {
    height: 300px;
    width: 70%;
}

.carousel .carousel-item {
    height: 300px;
    width: 70%;
  }

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto !important;
    right: -261px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: auto;
    margin: 0 auto;
  }

.best-seller-button {
    background: black;
    color: #f8e085;
    min-width: 260px;
    font-family: 'Cormorant Garamond', serif;
}

.best-seller-button:hover,
.best-seller-button:active,
.best-seller-button:focus {
    background: #222;
    color: #b4853e;
}

.border-black {
    border: 1px solid black !important;
}

/* Products page */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #fffbff;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #3b3b3b !important;
    color: #fffbff !important;
}

.title-header {
    background: url('/media/background-leo-white-gold.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(70vh - 180px);
    color:#f8e085;
    font-family: 'Raleway', sans-serif;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    background: rgba(59, 59, 59, 0.7)
}

.btt-button a:hover {
    background: rgba(59, 59, 59, 0.8) !important;
    color: #fde5dd;
    border-radius: 10px;
}

.btt-link, 
.update-link,
.remove-link {
    cursor: pointer;
    color: #d3b4af;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 180px;
    }

    .index-content {
        padding-top: 55px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}