<footer>
    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-sm col-md-6 social">
                <a href="" aria-label="Link to facebook">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="" aria-label="Link to instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" aria-label="Link to pinterest">
                    <i class="fab fa-pinterest-square"></i>
                </a>
            </div>
            <div class="col-sm col-md-6 shipping">
                <p style="margin-bottom: 7px;"><strong> Estimated shipping times</strong>(shipps worldwide)</p>
                <p style="margin-bottom: 5px;">Sweden: 3-10 business days</p>
                <p style="margin-bottom: 5px;">Europe: 7-14 business days</p>
                <p style="margin-bottom: 10px;">North America: 2-3 weeks</p>
            </div>
        </div>
    </div>
</footer>
