<footer>
    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-12 social">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-square"></i>
            </div>
            <div class="col-12 shipping">
                <p><strong> Estimated shipping times</strong>(shipps worldwide)</p>
                <p>Sweden: 3-10 business days</p>
                <p>Europe: 7-14 business days</p>
                <p>North America: 2-3 weeks</p>
            </div>
        </div>
    </div>
</footer>
