<footer id="footer-container">
    <div class="container-fluid footer-wrapper">
        <div class="row">
            <div class="col-sm col-md-6 my-auto social-col">
                <p class="social-links">
                    <a href="https://www.facebook.com/meowsweden/" target="_blank" aria-label="Link to facebook">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="https://www.instagram.com/meowsweden/" target="_blank" aria-label="Link to instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.pinterest.com.au/meowsweden/" target="_blank" aria-label="Link to pinterest">
                        <i class="fab fa-pinterest-square"></i>
                    </a>
                </p>
            </div>
            <div class="col-sm col-md-6 my-auto shipping-col">
                <p><strong> Estimated shipping times</strong> (shipps worldwide)</p>
                <p>Sweden: 3-10 business days</p>
                <p>Europe: 7-14 business days</p>
                <p>North America: 2-3 weeks</p>
            </div>
        </div>
    </div>
</footer>
