<script type="text/javascript">
    // Update quantity of items in bag
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item from bag and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var color = $(this).data('catear_color');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'catear_color': color};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>