{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid justify-content-center title-header">
        <h2 class="text-center">Products</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm col-md-6 col-lg-4">
                {{ products }}
            </div>
        </div>
    </div>
{% endblock %}
